@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

body{
	font-family: 'Roboto';
	background-image: url('../resources/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}




.journeys-container, .score-container,.create-container {
    background: #AED9F4;
    border-radius: 15px;
    margin: 10px auto;
    margin-top: 20px;
    display: block;
    width: 95%;
    border: 2px solid #8A4040;
    min-width: 322px;
}

main{
	margin-top: 20px;
	display: block;
	
}

header {
    font-weight: bold;
    height: 62px;
    line-height: 62px;
    margin: 0 auto;
    max-width: 1360px;
    padding: 0 32px;
    position: relative;
    z-index: 220;
}

.create-content, .journeys-content, .scores-content{
    padding: 12px 22px 12px 22px;
    margin: auto;
}

.well-content {
  padding: 19px;
  background: #8A4040;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  min-height: 145px;
  padding: 12px 22px 12px 22px;
  align-items: center;
}

.well-searchbox label {
    color: #fff;
}

.section-title{
  font-size: 30px;
    margin: 5px;
    margin-top: 10px;
    text-align: center;
}


#create-form{
  align-items: center;
  position: relative;
}

