@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);


header {
    background-color: #AED9F4;
    font-size: 30px;
    font-weight: bold;
    height: 62px;
    line-height: 62px;
    margin: 0 auto;
    max-width: 1360px;
    padding: 0 32px;
    position: relative;
    z-index: 220;
}

body{
	font-family: 'Roboto';
	background-image: url('../resources/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
    padding: 0;
    margin: 0;
}

.form-control{
    border-radius: 0px;
    margin-bottom: 10px;
}

.session-buttons {
  background: #AED9F4;
  height: 45px;
  margin: auto;
  padding: 0;
  list-style-type: none;
  position: relative;
  display: block;
  width: 50%;
  border: 2px solid #8A4040;

}

.session-buttons li {
  float: left;
  width: 50%;
  height: 100%;
  
}

.session-buttons a {
  display: block;
  float: center;
  text-decoration: none;
  color: white;
  font-size: 20;
  padding: 12px 22px 12px 22px;
  text-align: center;
}


.login{
    padding: 22px 22px 22px 22px;
}


.register-container{
	height: 340px;
}

.login-container, .register-container {
  background: #AED9F4;
  display: block;
  margin: 25px auto;
  width: 50%;
  position: relative;
  font-family: 'Roboto';
  text-align: center;
  border-radius: 28px;
  border: 2px solid #8A4040;
}

main{
	margin-top: 20px;
	display: block;
	
}

.search{
    background: #AED9F4;
    border-radius: 28px;
    margin: 10px auto;
    margin-top: 20px;
    height: 200px;
    display: block;
    width: 60%;
    border: 2px solid #8A4040;
}

.search-title{
	font-size: 20px;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

.search-content{
	padding: 12px 22px 12px 22px;
    margin: auto;
    text-align: center;
}
#search-form{
	align-items: center;
	position: relative;
}

.form-input-container{
	margin-right: 8px;
    display: inline-block;
    height: 48px;
    padding: 0;
}

#form-name{
	position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.input-icon{
	position: relative;
	top: 14px;
    left: 13px;
    vertical-align: middle;
    border: 0;
    width: 20px;
    height: 20px;
    padding: 0 0 24px;
    margin: 0;
}



h1{
	margin: 8px;
}

input{
	margin: 5px;
}

.radio-buttons{

}